@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Redressed&display=swap");
body {
  display: grid;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  background-color: rgb(138, 88, 255);
  height: 75px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
}
#logo {
  font-size: 42px;
  color: transparent;
  background-image: linear-gradient(
    to right,
    cyan,
    cyan,
    rgb(255, 200, 255),
    rgb(255, 200, 255),
    cyan,
    cyan,
    RGB(255, 200, 255),
    RGB(255, 200, 255)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
#container1 {
  background-image: linear-gradient(
    to bottom,
    rgb(138, 88, 255),
    rgba(138, 88, 255, 0.446)
  );
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5vw; */
  font-family: "Bebas Neue", cursive;
}
.projetos {
    position: absolute;
    top: 440px;
    border-radius: 100px 100px 0px 0px;
    height: 500px;
    width: calc(100% - 40px);
  background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#sessao{
    display: grid;
    grid-template-areas:
      "a2 a2 a2 a2 a2"
      "a3 a3 a4 a4 a4";
      gap: 15px;
}
.a1 {
  display: flex;
  grid-area: a1;
  justify-content: center;
  align-items: center;
}
.a2 {
  display: flex;
  grid-area: a2;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100px;
}
.a3 {
  display: flex;
  grid-area: a3;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 300px;
  /* width: 550px; */

}
.a4 {
  display: flex;
  grid-area: a4;
  justify-content: center;
  align-items: center;
  background-color: green;
  /* width: 700px; */
}
#title {
  /* background-color: indigo; */
  font-size: 1.6vw;
  font-family: "Redressed", cursive;
}

@media screen and (max-width: 850px) {
  #container1 {
    font-size: 1em;
  }
  #title {
    font-size: 1.2em;
  }
}
/* 
 @media screen and (max-width:750px){
    #container{
        font-size: 0.8em;
    }
    #title{
        font-size: 2.2vw;
    }
} */
@media screen and (max-width: 500px) {
  #header {
    height: 70px;
    align-items: flex-start;
  }
  #logo{
    font-size: 32px;
  }
  #container1 {
    font-size: 1em;
  }
  #title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 450px) {
  #container1 {
    font-size: 3.7vw;
    height: 350px;
  }
  .projetos-roundeed{
      border-radius: 30px;

  }
  #title {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 350px) {
  #container1 {
    font-size: 4.4vw;
  }
  #logo {
    font-size: 10vw;
  }
  #title {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 250px) {
  #container1 {
    font-size: 5.8vw;
  }
  #logo {
    font-size: 10vw;
  }
  #title {
    font-size: 4vw;
  }
}
