@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Redressed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat:wght@100&display=swap');
body {
  display: grid;
  padding: 0;
  margin: 0;
  background-color: RGB(2, 18, 51);
  color: black;
}

#header {
  display: flex;
  /* background-color: rgb(138, 88, 255); */
  height: 100px;
  background-image: linear-gradient(to right,#011434,transparent,transparent,#011339);
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
#logo {
  position: relative;
  top: -20px;
  transform: rotate(90deg);
}
@keyframes rotate{
  0%{}
  100%{transform: rotate(450deg);}
}
#logo:hover {
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
#container1 {
  background-image: url(./sources/Passenger-plane-flight-in-sky-dusk-sun-rays_3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:white;
  text-shadow: 0px 0px  30px RGB(211, 159, 111);
 
}

.projetos {
  position: relative;
  top: -15px;
  border-radius: 100px 100px 100px 100px;
  height: 800px;
  width: calc(100% - 40px);
  background-color: RGB(2, 18, 51);
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* padding-top: 200px; */

}
.pp{
  color: white;
}
.a3 > h3{
  color: rgba(255, 255, 255, 0.549);
}
.a4 > h3{
  color: rgba(255, 255, 255, 0.549);
}

#purpleline {
  height: 2px;
  position: absolute;
  top: 100px;
  width: 300px;
  background-color: white;
  align-self: center;
  /* margin-bottom: 70px; */
}
#sessao {
  display: grid;
  grid-template-areas:
    "a2 a2 a2 a2"
    "a3 a3 a4 a4";
  gap: 30px;
  background-color:  RGB(2, 18, 51);
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
}
.sessao2 {
  background-color: RGB(12, 32, 77);
  height: 1000px;
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container2 {
  height: 700px;
  width: 70%;
  background-color: rgb(2, 18, 51);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 2px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  /* margin-left: -250%; */
}
#forms{
  background-color: RGB(2, 18, 51);
  height: 350px;
  width: 80%;
  display: grid;
  grid-template-areas:
  "f1 f1 f1"
  "f3 f3 f4"
  "f5 f5 f2";
  gap: 15px;
  padding: 20px;
}
.form{
  height: 50px;
  outline: none;
  border-radius: 5px;
  transition-property: outline;
  transition-duration: 400ms;
}

.form:focus{
  outline:solid 2px cyan;
}
#result{
  background-color:rgb(2, 18, 51);
  height: 500px;
  position: absolute;
  width: calc(90% - 50px);
  display: none;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius:50px;
  /* animation-name: result; */
  animation-timing-function: ease;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
  animation-duration: 2s;
  top: -1000px;
  box-shadow: 2px 2px 10px black;
}
.btn{ 
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color:RGB(12, 32, 77) ;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  margin-top: 50px;
}
@keyframes result{
  0%{}
  100%{top: 25%; opacity: 1;}

}

.a1 {
  display: flex;
  grid-area: a1;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.a2 {
  /* color: black; */
  display: flex;
  text-decoration: none;
  grid-area: a2;
  padding:10px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 5px 10px 0px black;
  height: 100px;
  transition-property: transform;
  transition-duration: 500ms;
  background-color: RGB(12, 32, 77);
}
.a2:hover {
  transform: scale(1.02);
  box-shadow: 2px 5px 20px 0px black;
}
.a3:hover {
  transform: scale(1.02);
  box-shadow: 2px 5px 20px 0px black;
  
}
.a4:hover {
  transform: scale(1.02);
  box-shadow: 2px 5px 20px 0px black;
}
.a3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: a3;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* width: 550px; */
  text-decoration: none;
  box-shadow: 2px 5px 10px 0px black;
  transition-property: transform box-shadow;
  transition-duration: 500ms;
  background-color: RGB(12, 32, 77);
}
.a4 {
  display: flex;
  grid-area: a4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 2px 5px 10px 0px black;
  transition-property: transform box-shadow;
  transition-duration: 500ms;
  /* width: 700px; */
  background-color: RGB(12, 32, 77);
}
#title {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  justify-content: center;
  flex-direction: column;
}
p {
  font-family: "Bebas Neue", cursive;
}

@media screen and (max-width: 850px) {
  #container1 {
    font-size: 1em;
    background-position: center;
  }
  #title {
    font-size: 1.2em;
  }
}

 @media screen and (max-width:650px){
    .a2{
      font-size: 2vw;
    }
    .a3{
      font-size: 2vw;
    }
    .a4{
      font-size: 2vw;
    }
    #forms{
     display: flex;
     flex-direction: column;
    }
    .form{
     margin-bottom: 20px;
    height: 50px;
    }
    .sessao2{
      justify-content: center;
      align-items: center;
    }
    .container2{
      width: 90%;
    }


}
@media screen and (max-width: 510px) {

  #container1 {
    font-size: 1em;
    align-items: center;
  }
  .sessao2{
    justify-content: center;
    align-items: center;
  }
  .container2{
    width: 100%;
  }
  #result{
    width:100%;
  }
  #title {
    font-size: 1.1em;
    align-items: center;
    margin-left: 0px;
  }
  h1{
    font-size: 1.6em;
  }
  .a3{
    font-size: 2.0vw;
  }
  .a4{ 
    font-size: 2.0vw;
  }
}

@media screen and (max-width: 450px) {
  #container1 {
    font-size: 3.7vw;
    height: 350px;
  }
  #header{
    height: 75px;
  }
  #logo{
    top: -10px;
  }
  #title {
    font-size: 3.6vw;
  }
  .a3{
    font-size: 2.0vw;
  }
  .a4{
    font-size: 2.0vw;
  }
}
@media screen and (max-width: 410px) {
  .a1 {
    font-size: 5.5vw;
  }
  #purpleline {
    top: 80px;
    width: 60%;
  }
  #header{
    height: 50px;
  }
  #logo {
   width: 30px;
  }
  #result{
    font-size: 0.7rem;
  }
  #title {
    font-size: 3.0vw;
  }
  #title > p {
    font-size: 2.8vw;
  }
  #sessao {
    grid-template-areas:
      "a2"
      "a3"
      "a4";
  }
  .projetos{
    /* background-color: red; */
    height: 950px;
  }
  .sessao2{
    margin-top: -45px;
  }
  .a2 {
    height: 200px;
    font-size: 3.5vw;
  }
  .a3 {
    height: 200px;
    font-size: 3.5vw;
  }
  .a4 {
    height: 200px;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 250px) {
  #container1 {
    font-size: 5.8vw;
    height: 200px;
  }
 
  #title {
    font-size: 4vw;
  }
  #title > p {
    font-size: 8px;
  }
  .a1 {
    font-size: 6vw;
  }
  .a2 {
    font-size: 3.5vw;
  }
  .a3 {
    font-size: 4vw;
  }
  .a4 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 230px) {
  #container1 {
    font-size: 5.8vw;
  }

  #title {
    font-size: 4vw;
  }
  #result{
    font-size: 0.5rem;
  }
  #sessao {
    grid-template-areas:
      "a2"
      "a3"
      "a4";
  }
  .a1 {
    font-size: 5.3vw;
  }
  .a2 {
    height: 150px;
    font-size: 4.0vw;
  }
  .a3 {
    height: 150px;
  }
  .a4 {
    height: 150px;
  }
  #purpleline {
    top: calc(5% + 10px)
  }
}
@media screen and (max-width: 180px) {
  #container1 {
    font-size: 30px;
    height: 200px;
  }
  #result{
    font-size: 5vw;
    height: 200vw;
  }
  #logo {
    font-size: 10vw;
  }
  #title > p {
    font-size: 4.9vw;
  }
  .a1 {
    font-size: 5.3vw;
  }
  .a2 {
    height: 200px;
  }
  .a3 {
    height: 200px;
  }
  .a4 {
    height: 200px;
  }
}
